/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------- */


html {
  font-family: 'Fira Sans', sans-serif;
  background-color: #FFFAF9;
  color: #171228;
  max-width: 1400px;
  max-height: 1200px;
  margin: 0 auto;
}

body{
  margin: 0 auto;
}

header{
  background-color: #2F2E41;
  width: 100%;
  height: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
}

.logo{
  margin-top: 30px;
  margin-left: 80px;
}

nav{
  margin-top: 60px;
}

header nav a{
  text-align: left;
  color: #fff;
  text-decoration: none;
  padding: 30px 10px;
  font-size: 0.9rem;
  font-weight: medium;
}

a, button, label, legend{
  font-family: 'Fira Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', sans-serif;
  color: #2F2E41;
}


#introducao{
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.colEsquerda{
  align-items: right;
  text-align: center;
}

h1{
  font-size: 2.5rem;
  font-weight: medium;
  margin-bottom: 20px;
  text-align:left;
  line-height: 1.2;
  margin-left: 50px;
  padding: 30px;
}

main{
  background-color: #ffece6dc;
  align-items: center;
  justify-items: center;
  align-self: center;
  margin: 0 auto;
  width: 800px;
  height: 1500px;
  border-radius: 5px;
  padding: 50px;
}




.colEsquerda fieldset{
  display: inline-block;
  margin-top: 10px;

}

.colEsquerda fieldset legend{
  font-size: 0.7rem;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
}


fieldset{
  margin-top: 0;
  padding: 2px;
  text-align: center;
}

fieldset.imgFile{
  background-color: #FFFAF9;
}
/* IMAGEM DO CARREGAMENTO DE FOTOS */
img.upload{
  padding: 10px;
  width: 51.78px;
  height: 55.82px;
}

/* BOTÃO DE UPLOAD */
input[type="file"]{
  display: none;
}
label{
  font-family: 'Fira Sans', sans-serif;
  padding: 20px 10px;
  width: 300px;
  background-color: #C44B25;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  cursor: pointer;
}

/* DIV COM BUTTONS DE CADASTRO */
div.cadastros{
  width: 320px;
  height: 100px;
  background-color: none;
  padding: 15px;
}

/* BOTÃO SALVAR | BOTÃO CANCELAR CADASTRO */
button.salvarCadastro, button.cancelarCadastro{
  width: 140px;
  height: 60px;
  background-color: #C44B25;
  border: none;
  color: #FFFAF9;
  margin-top: 40px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

button.salvarCadastro:hover, button.cancelarCadastro:hover{
  cursor: pointer;
  background-color: #ff3c00de;
  color: #FFFAF9;
}


/* LEGENDS */
fieldset legend{
  font-size: 0.7rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1px;
}

fieldset legend.pMaior{
  font-size: 0.9rem;
  margin-left: 2px;
}

input{
  width: 300px;
  height: 30px;
  border: 1px solid #171228;
  margin: 0;
  padding: 0;
  align-items: center;
}

/* CEP USUÁRIO */
input.cepUsuario{
  width: 145px;
}

/* NUMERO CASA */
input.numeroCasa{
  width: 145px;
}



/* PLACEHOLDERS */
::-webkit-input-placeholder{
  color: #c4c4c4;
  text-transform: uppercase;
  padding: 4px;
  opacity: 1;

}
input:-moz-placeholder{
  color: #c4c4c4;
  text-transform: uppercase;
  padding: 4px;
  opacity: 1;
}


/*
.colEsquerda .butoons{
  background-color: #C44B25;
  border: none;
  color: #FFFAF9;
  padding: 15px 30px;
  width: 230px;
  height: 50px;
  margin: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  display: inline-block;
}

.colEsquerda .butoons:hover{
  cursor: pointer;
}
*/

footer{
  text-align: center;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0;
  background-color: #2F2E41;
  width: 100%;
  height: 100px;

}

/*  FOOTER */
  footer p{
  font-size: 0.8rem;
  text-align: left;
  justify-content: center;
  align-items: center;
  line-height: 1.3;
  margin-top: 35px;
  margin-left: 80px;
  color: #FFFAF9;
}

footer p span.dev{
  padding-top: 10px;
}

footer .icons{
  text-align: right;
  margin-top: 40px;
  margin-right: 150px;

}

footer p a{
  padding-top: 10px;
  text-decoration: none;
  color: #ffa88e;
  font-weight: bold;
}





